<!-- <!DOCTYPE html>
<html lang="en"> -->
{% extends "navbar-ecek-ecek.html" %} {% block head %} {% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>Motivation</title>


<style>
    *{
        padding: 0;
        margin: 0;
    }

    body{
        position: relative;
        background-color:  #181818;
        font-family: 'Poppins', sans-serif;
    }

    button{
        padding: 8px;
        outline: none;
        cursor: pointer;
        font-family: inherit;
        border-radius: 5px;
        background: #181818;
        color: #828cf6;
        border: 1px solid #828cf6;
        border-radius: 20px;
        align-items: center;
    }

    button:hover{
        color: white;
        /* background-color: rgba(0, 0, 0, 0.1); */
        background-color: #828cf6;
    }

    #modal{
        display: none;
        position: fixed;
        z-index: 1;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #inner-modal{
        align-items: center;
        min-height: 100vh;
    }

    #inner-modal textarea{
        width: 276px;
        height: 276px;
        padding: 25px;
        outline: none;
        resize: none;
        font-size: 1.5rem;
        font-family: inherit;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
    }

    #modal2{
        display: none;
        position: fixed;
        z-index: 1;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #inner-modal2{
        align-items: center;
        min-height: 100vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        text-align: center;
    }

    i{
        font-size: 1.7rem;
        color: gray;
        cursor: pointer;
        transition: 1s ease-in-out;
    }

    i:hover{
        color: lightgray;
    }

    #container2{
        width: 1280px;
        margin: auto;
    }

    #header h1{
        text-align: center;
        color: #828cf6;
    }

    #all-notes{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 40px;
    }

    .note{
        width:300px;
        height: 300px;
        transition: 2s;
        cursor: pointer;
        overflow-wrap: break-word;
        box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
    }

    #note2{
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text{
        font-size: 1.5rem;
        padding: 25px;
    }

    #submit{
        color: white;
        background-color: #828cf6;
        border-radius: 20px;
        border: 1px solid #828cf6;
    }

    #submit:hover{
        background-color: rgba(0, 0, 0, 0.5);
    }

    .nav_links_custom #home-override a {
    color: white;
    font-weight: 200;
    transition: all 0.3s ease 0s;
    }

    .nav_links_custom #home-override a:hover {
        color: #828cf6;
    }

    .nav_links_custom .motivasi-menu a {
        color: #828cf6;
        font-weight: bold;
        transition: all 0.3s ease 0s;
    }

    .nav_links_custom .motivasi-menu a:hover {
        color: white;
    }

</style>

{% endblock head %} {% block content %}

<body>
    <div id="modal">
        <div id="inner-modal" class="d-flex justify-content-center">
            <form id="motivation-form" method="POST">
                {% csrf_token %}
                <div class="d-block">
                    <textarea id="message" name="message" aria-describedby="emailHelp" placeholder="Write your motivation here..." maxlength="100"></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <input id="submit" type="submit" class="btn btn-secondary" value="Submit">
                </div>
                <div class="d-flex pt-2 justify-content-center">
                    <i class="far fa-times-circle" id="x-icon"></i>
                </div>
            </form>
        </div>
    </div>

    <div id="modal2">
        <div id="inner-modal2" class="d-flex justify-content-center">
            <div id="container-note" class="d-block">
                <div id="note2">
                    <h1 id="text2"></h1>
                </div>
                <div class="d-flex pt-2 justify-content-center">
                    <i class="far fa-times-circle" id="x-icon2"></i>
                </div>
            </div>
        </div>
    </div>

    <main>
        <section id="header">
            <h1>Motivation for you from the others</h1>
            <div class="d-flex justify-content-center">
                <button id="add-note" type="button">Motivate others here</button>
            </div>
        </section>
        <section>
            <div class="container" id="container2">
                <div id="all-notes">
                    {% for i in motivasi %}
                    <div id="note" class="note">
                        <div class="details">
                            <h1 class="text" id="text">
                                {{i.message}}
                            </h1>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        var random_margin = ["-5px", "1px", "5px", "10px", "7px"];
        var random_colors = ["#c2ff3d","#ff3de8","#3dc2ff","#04e022","#bc83e6","#ebb328"];
        var random_degree = ["rotate(3deg)", "rotate(1deg)", "rotate(-1deg)", "rotate(-3deg)", "rotate(-5deg)", "rotate(-8deg)"];

        document.querySelector("#add-note").addEventListener("click", () => {
            var auth = "{{ request.user.is_authenticated }}";
            console.log(auth);
            if (auth == "True") {
                document.querySelector("#modal").style.display = "block";
            } else{
                alert("You should login first to add your motivation :)");
                window.location.replace('../login');
            }
        });

        document.querySelector("#x-icon").addEventListener("click", () => {
            document.querySelector("#modal").style.display = "none";
            $("#message").val("");
        });

        var allNote = document.querySelectorAll('[id=note]')
        var index2 = 0;
        for (let i=0; i<allNote.length; i++) {
            allNote[i].addEventListener("click", () => {
            var modal2 = document.querySelector("#modal2");
            modal2.style.display = "block";
            var note2 = document.querySelector("#note2");
            index2 = i % random_colors.length;
            note2.setAttribute("style", `background-color:${random_colors[index2]};`);
            var text = document.querySelectorAll('[id=text]');
            const isi_text = text[i].textContent;
            document.querySelector("#text2").innerHTML = isi_text;
            });
        }

        document.querySelector("#x-icon2").addEventListener("click", () => {
            document.querySelector("#modal2").style.display = "none";
        });

        var index = 0;

        window.onload = pickAtr();

        function pickAtr() {
            $("#message").val("");
            var note = document.querySelectorAll('[id=note]');
            for (let i=0; i<note.length; i++) {
                setAtr(note[i]);
                if(index > random_colors.length - 1)
                index = 0;
            }
        }

        function setAtr(div) {
            div.setAttribute("style", `margin:${random_margin[Math.floor(Math.random() * random_margin.length)]}; background-color:${random_colors[index++]}; transform:${random_degree[Math.floor(Math.random() * random_degree.length)]}`);
        }
    </script>
</body>

{% endblock content %}
<!-- </html> -->