<!DOCTYPE html>
<html lang="en">
<head>
    {% include "navbar-ecek-ecek.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<style>
.root {
background: #C1B0FF;
background: -moz-linear-gradient(top, #C1B0FF 0%, #FFFFFF 100%);
background: -webkit-linear-gradient(top, #C1B0FF 0%, #FFFFFF 100%);
background: linear-gradient(to bottom, #C1B0FF 0%, #FFFFFF 100%);
padding-top: 7rem;
}
.search-form_forms {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ad97ff;
  border-radius: 10px;
  transition: 0.3s;
  margin: auto;
  width: 31%;
  padding: 20px;
  position: relative;
}
.center {
  display: flex;
  justify-content: center;
}
input[type="submit"] {
  background-color: whitesmoke;
  border: none;
  color: #181818;
  padding: 16px 32px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: #181818;
  color: whitesmoke;
}

.cardku {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  font-family: poppins;
}
.cardku:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #bee0f2;
}
.column {
  float: center;
  padding: 8px;
}

.column.side {
  width: 25%;
}
h1 {
  font-size: 35px;
}

    .nav_links_custom #home-override a {
    color: white;
    font-weight: 200;
    transition: all 0.3s ease 0s;
    }

    .nav_links_custom #home-override a:hover {
        color: #828cf6;
    }

    .nav_links_custom .isoman-menu a {
        color: #828cf6;
        font-weight: bold;
        transition: all 0.3s ease 0s;
    }

    .nav_links_custom .isoman-menu a:hover {
        color: white;
    }

</style>
<body class="root">
<div class="center">
<h1>Dapatkan barang yang Anda perlukan di sini</h1>
</div>
<div class="search-form_forms" id="example">
<form id="pilihan" action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" onclick="ReplaceForm()" value="Cari">
</form>
</div>
<div id="for_replacement" style="display:none;">
<p>
<b>Sebentar, kami sedang mencari barangmu :)</b>
</div>
<script type="text/javascript">
function ReplaceForm()
{
var IDofForm = "pilihan";
var IDofDivWithForm = "example";
var IDforReplacement = "for_replacement";
document.getElementById(IDofForm).submit();
document.getElementById(IDofDivWithForm).innerHTML = document.getElementById(IDforReplacement).innerHTML;
IDofDivWithForm.style.display = "none";
}
</script>
<script type="text/javascript">
document.getElementById("example").style.display = "block";
</script>
    <div class="card" style="width: 84rem;">
        <div class="column side">
  </div>
        {% for b in barang %}
        <div class="cardku">
  <img src={{ b.gambar }} class="card-img-top" alt="gambar">
  <div class="card-body">
    <h5 class="card-title"> {{ text }} </h5>
    <p class="card-text">Ini adalah barang pencarian Anda</p>
  </div>
  <div class="card-body">
    <a href={{ b.link }} target="_blank" rel="noreferrer">View in Shopee Store</a>
  </div>
            </div>
        {% endfor %}
            <div class="column side">
  </div>
</div>
</body>
</html>




