@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary: #181818;
  --secondary: #828cf6;
  --ternary: #f4f6fa;
}

.search-form_root {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary);
  margin-top: 5em;
  color: var(--ternary);
}

.search-form_forms {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--secondary);
  border-radius: 10px;
  transition: 0.3s;
  margin: auto;
  width: 40%;
  padding: 20px;
  position: relative;
  color: var(--primary);
}

.center {
  display: flex;
  justify-content: center;
}

.center h1 {
  margin-bottom: 1em;
}

.center p {
  display: flex;
  justify-content: center;
  width: 40%;
  text-align: center;
  margin-top: 0;
}

input[type="text"],
form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

input[type="submit"] {
  background-color: var(--ternary);
  border: none;
  color: var(--primary);
  padding: 1vw 2vw;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: var(--primary);
  color: var(--ternary);
  transition-duration: 0.4s;
}

@media only screen and (max-width: 600px) {
  .search-form_forms {
    width: 80%;
  }
}

.nav_links_custom #home-override a {
  color: white;
  font-weight: 200;
  transition: all 0.3s ease 0s;
}

.nav_links_custom #home-override a:hover {
  color: #828cf6;
}

.nav_links_custom .hospital-menu a {
  color: #828cf6;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.nav_links_custom .hospital-menu a:hover {
  color: white;
}
