@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary: #181818;
  --secondary: #828cf6;
  --ternary: rgb(244, 246, 250);
}

.hospital-list_root {
  background-color: var(--primary);
  margin-top: 4em;
  margin-bottom: 1em;
  color: var(--ternary);
  font-family: "Poppins", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}

.center h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.center p {
  display: flex;
  justify-content: center;
  width: 25vw;
  text-align: center;
  margin-top: 0;
}

.center img {
  border: 2px;
  border-color: var(--primary);
}

.hospital-list_photo {
  border-radius: 15px;
}

.hospital-list_card {
  box-shadow: 0 4px 8px 0 rgba(244, 246, 250, 0.3);
  background-color: var(--secondary);
  border-radius: 10px;
  transition: 0.3s;
  margin: 30px;
  padding: 20px;
  position: relative;
}

.hospital-list_cards {
  justify-content: space-evenly;
}

.hospital-list_card:hover {
  box-shadow: 0 8px 16px 0 rgba(244, 246, 250, 0.5);
}

.hospital-list_container {
  padding: 2px 16px;
  margin: 20px;
}

.hospital-list_container h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.nav_links_custom #home-override a {
  color: white;
  font-weight: 200;
  transition: all 0.3s ease 0s;
}

.nav_links_custom #home-override a:hover {
  color: #828cf6;
}

.nav_links_custom .hospital-menu a {
  color: #828cf6;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.nav_links_custom .hospital-menu a:hover {
  color: white;
}
